*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    }

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
 }
 header > h1{
    margin-left: 5%;
    position: absolute;
 }

header > img{
       width: 65px;
}

.login-container {
    background-color: white;
    max-width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 50px;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 110px;
}

.login-container label {
    font-size: 18px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.login-container input[type="submit"]:hover {
    background-color: #555;
}
@media screen and (max-width: 768px) {
    header {
        align-items: center;
      }
    
      header > h1 {
        margin: 52px;
      }
    
      header > img {
        width: 50px; 
        margin-top: auto 10px;
        margin-bottom: auto 10px;
        padding-right: auto 15px; 
    }
    .login-container {
        max-width: 90%;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .login-container label {
        font-size: 16px;
    }

    .login-container input {
        font-size: 16px;
    }

    .login-container input[type="submit"] {
        font-size: 16px;
    }
}